*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  display: none;
}

.navLink:hover{
  background-color: rgb(191,191,191);
}
div.navLink:has(a.active) {
  background-color: rgb(162,162,162);
}